.card {
  display: flex;
  gap: 20px; 
  background: #ffffff13;
  padding: 20px; 
  border-radius: 16px; 
  border: 2px solid #8800ff;
  box-shadow: 0 0 10px #8800ff;
  transition: 0.3s ease; 
  cursor: pointer;
}

.card:hover {
  border-color: #ffc800; 
  box-shadow: 0 0 10px #ffc800;
  transform: translateY(-8px); 
}

.imageWrap img {
  width: 140px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s ease;
  border: 2px solid #8800ff; 
}

.imageWrap:hover img {
  transform: scale(1.08); 
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;

  color: #ffffff;
}

.info h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.meta {
  color: #ffffff;
  margin: 6px 0;
  font-size: 14px;
}

.status {
  margin-top: 8px;
  font-weight: 700;
  color: #8800ff; 
  text-shadow: 0 0 5px #00000055;
  letter-spacing: 0.5px;
}

.avaliacao {
  margin-top: 6px;
  color: #ff00a3; 
  font-weight: 600;
  text-shadow: 0 0 5px #00000000;
}

.actions {
  margin-top: 15px;
}

.actions a,
.actions button {
  background: transparent;
  border: none;
  color: #ffffff; 
  margin-left: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 0.2s ease;
}

.actions a:hover,
.actions button:hover {
  background: linear-gradient(135deg, #ffc800, #ff00a3, #8800ff);
  color: #ff00a200; 
  background-clip: text;
  color: transparent; 
  text-shadow: 0 0 8px #8800ff39; 
}